*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(9, 2, 2);
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(82, 9, 242);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav ul li a:hover{
   color: rgb(79, 4, 4);
   font-size: 1.04rem;
}
.left{
    font-size: 1.5rem;
}
.left img{
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}
.first{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    align-items: center;
}
.first > div{
    width: 40%;
  
}
.leftsection{
  
    font-size: 3rem;
    margin-top: 50px;
    margin-left: 50px;
}
.rightsection img{
    height: 750%;
    width: 75%;
    margin: 0px 80px;
    border-radius: 30px;
}
.purple{
    color: rgb(23, 11, 234);
}
#element{
    color: rgb(31, 22, 194);
}

#About{
    margin: 50px ;
    padding: 80px 0;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about{
    font-size: 2rem;
    font-weight: 600;
}
#skills{
    margin: 97px ;
    padding: 12px 0;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*---------------login/register-------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}
/*------------services-------*/
#services{
    margin:50px ;
    padding: 40px 0;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #262626;
    padding:40px ;
    font-size:13px ;
    font-weight:300 ;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: rgb(121, 11, 27);
    transform: translate(-10px);
}
/*------------contact---------*/
.row{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    align-items: center;
    height: 675px;
}
.row > div{
    width: 40%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 50%;
}
.contact-left p{
    margin-top: 20px;

}
.contact-left i{
    color: #ff004f;
    margin-right: 15px;
    margin-left: 70px;
    font-size: 70px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform(0.5s);
}
.social-icons a:hover{
    color:#ff004f;
    transform: translate(-5px);
}
.contact-right form{
    width: 50%;
    height: 500px;
}
form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 25px;
    margin :25px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form input{
    width: 500px;
}
.btn2{
    background-color:#ff004f ;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}